[2013-09-12 12:07] mikepurvis opened #1 "Use both GGA and RMC"
Reference: https://github.com/ros-drivers/nmea_gps_driver/issues/2

Current state of affairs is that the user must choose between RMC messages (you get track and speed, but no covariance), or GGA messages (covariance, but no track or speed). This sucks—the driver should be able to make a few assumptions and do the right thing.

[2013-11-28 19:00] mikepurvis opened #3 "Diagnostics"
Would be great if the driver would publish the type of fix and a rate monitor.

I can implement this if there's interest.

[2014-03-10 03:57] mikepurvis opened #4 "Merge in nmea_msgs and nmea_comms?"
I'm wondering about merging this repo with some related ones, eg:

https://github.com/clearpathrobotics/nmea_comms
https://github.com/ros-drivers/nmea_msgs

The thought would be a single repo, perhaps called nmea or nmea_navsat, which contains the three packages in subdirectories.

[2014-03-11 18:24] #4 closed, assigned to nobody

[2014-03-13 18:21] mikepurvis opened #5 "Empty fields spam rosout with warnings"
I think I reported this previously, but I can't find the old ticket to wake it up. In any case, here's an [example bag](https://dl.dropboxusercontent.com/u/784159/nmea_problem.bag) with some data from a ublox receiver that has no sky view.

ESR's [gpsd docs](http://gpsd.berlios.de/NMEA.txt) offer the following:

altitude, latitude, or longitude) must be left empty when the GPS has
no valid data fo

[2014-05-21 17:25] ericperko opened #6 "Date (dd/mm/yy) is ignored when using RMC sentences"
Unlike GGA, RMC sentences do include an absolute date stamp. When using RMC sentences, this data should be used when computing the timestamp instead of simply taking the current clock time and adjusting the hours, minutes and seconds fields as is done with GGA sentences.

[2014-06-03 14:00] ayrton04 opened #7 "Handling nan values in the NavSatFix message for nmea_serial_driver"
Would it be possible to either:

(A) Put something other than nan in fields that can't be calculated due to insufficient fix quality.

(B) Add a parameter that causes the node to not report any messages until sufficient GPS fix quality is achieved.

Personally, I'd prefer the latter. Currently, any node using the data has to check the fix quality. While this is clearly do-able, it would be handy t

[2014-06-03 15:11] #7 closed, assigned to nobody

[2014-08-06 17:26] l0g1x opened #11 "Hemisphere v103 heading support"
I know the navsat driver publishes a fix topic which has lat, long, alt, but my gps (hemisphere v103) contains two antennas allowing for a heading nmea string to be published as well. I was wondering if it could be possible to add a part in the fix message that also sends heading in radians. I have pretty much already written the code for it, but right now i have it publishing on its own topic /he

[2015-02-03 15:51] mikepurvis commented on #5
Blah, I've got another receiver that's doing this. Sample output:

[code]

Recorded session: https://www.dropbox.com/s/1hzfzln8brwmbm0/novatel-smart6.bag?dl=0

[2015-02-05 04:25] #5 closed

[2015-06-07 20:40] ablakey opened #13 "Driver does not support GGA quality values > 5"
The use of GGA quality values greater than 5 is becoming more common. In particular, Novatel boards announce WAAS as a value of 9.  In this case, the driver would report a -1 for current_fix.status.status. Our solution was to reproogram the GPS to report all quality values of 9 as 2 instead.

I believe this merits discussion on if/how the driver could be changed to be more accommodating.

My conce

[2015-06-07 20:53] ablakey opened #14 "Mapping GGA Quality to NavSatStatus can be misleading"
The quality values used to but generally no-longer reflect position solution source but rather solution quality. Mapping quality to NavSatStatus.status seems to be misleading and removes meaningful information.

For example, mapping 4 and 5 to GBAS is problematic because:

* 4 is almost exclusively fixed-integer RTK (1-2cm)
* 5 is commonly float RTK  (10-100cm as it converges to fixed)
* 5 is also

[2015-06-10 07:37] emilihb opened #15 "GNSS strings"
The current parser assumes $GPxxx strings only, which doesn't work with ublox 8. May I suggest to change the regular expression to '^\$G[N|P]._\_[0-9A-Fa-f]{2}$' to fix this?

[2015-10-16 17:54] mikepurvis commented on #14
What's the relationship between GGA quality and hdop/pdop/vdop values? Isn't that where you're supposed to go for a more precise sense of how accurate the fix is?

[2015-10-16 17:56] mikepurvis commented on #13
Maybe there needs to be an option for the user to submit a rosparam of the mapping table that's appropriate to their device?

Alternatively, use the nmea_sentence topic with an external node to extract the quality (and any other vendor-specific data you care about), and publish it in a form suitable to your application?

[2015-10-16 18:07] ablakey commented on #14
Yes, *dop values are ideally where you go to derive position accuracy if you want a measure.  But the correction integer is commonly used as an indicator of when you reach certain quality thresholds.

If we're not trying to supply NavSatStatus.status as a convenient way to identify what quality ballpark NavSatFix positional data is in, what's the desired purpose of it?

[2015-10-17 01:15] ablakey commented on #13
I think an optional remapping via rosparam is a good option because of the lack of a formal or even de-facto standard. I wouldn't want to impose specific meanings on developers.  This feature would have allowed us to simply remap the values rather than fork or reprogram the NovAtel.

This also allows us to not worry about future mappings so much, so when GNSS vendors begin making use of additional

[2015-10-17 01:17] ablakey commented on #15
Do you have example strings emitted by the ublox 8? I'm curious how they're departing from the NMEA format.  If I can read your regex properly,  they're often emitting $GNxxx  ?

[2016-03-09 01:14] PaulBouchier commented on #14
I recently released a package that supported the swiftnav RTK GPS receiver into ROS and documented it here: http://wiki.ros.org/swiftnav_piksi on the wiki. I was subsequently approached by another company with a request to evaluate their RTK GPS receiver, which emits NMEA messages, including some non-NMEA-standard messages that describe the RTK mode and accuracy. Their product data is here: http:/

[2016-03-09 05:19] PaulBouchier commented on #14
Make that three low-cost RTK systems. Ublox just announced. http://goo.gl/TjpBc2. IMHO ROS needs to get with the program & support RTK explicity.

[2016-03-09 05:32] ablakey commented on #14
Hi Paul:

Short of a product survey, I can only confirm that my assertion about Quality integers is true for every GNSS I've used, which is 4 or 5 different brands (Novatel, Topconn, Trimble, Piksi, and likely some others).

I can't speak to your comments on covariance matricies. I haven't really used them for anything meaningful in my work.

I get a sense that the challenge is changing a well-est

[2016-03-09 13:11] PaulBouchier commented on #14
Andrew - Thanks for the data point supporting the common use of quality integers.

Backing up your assertion of the meaning of status 4 & 5, this site: http://www.gpsinformation.org/dale/nmea.htm#GGA defines:
     1            Fix quality: 0 = invalid
                               1 = GPS fix (SPS)
                               2 = DGPS fix
                               3 = PPS fix
			       4

[2016-03-10 01:08] ericperko commented on #14
Hi @PaulBouchier @ablakey, thanks for the info. I don't have much time to work on ROS stuff during the week anymore (so I haven't gotten a chance to read all of these comments), but I'll make some time this weekend to review things so we can start to discuss how to resolve these issues.

In the meantime, you may want to take a look at http://wiki.ros.org/sensor_msgs/Reviews/2010-05-31%20GPS%20Prop

[2016-03-14 05:37] ericperko commented on #14
So I think there are two issues in this thread that can be addressed separately.

1. How to represent the accuracy of a given fix message?
2. How does the driver map NMEA messages into that accuracy representation?

On issue 2, the driver is very basic right now and I have no problems with any improvements in this area. The current mapping of DOP->covariance is something hacky I made up for the fi

[2016-03-18 22:30] PaulBouchier commented on #14
Thanks for weighing in on this Eric. Bottom-line, like you, I do not yet see a compelling case for changing the NavSatFix message definition, and I agree we should fix the accuracy-reporting issues in the driver. The message issues and the driver issues are separable and I agree with fixing the driver independently of consideration of message-level issues. I will create a new issue for discussion

[2016-03-19 00:09] PaulBouchier opened #17 "Driver computes covariance incorrectly"
In the review: 2010-05-31 GPS Proposal_API_Review of the NavSatFix message, the discussion appeared to initially treat HDOP as a measurement uncertainty, but late in the discussion, Chad noted, "I found a source here that claims you can use DOP to multiply the expected optimal measurement accuracy of your GPS:
http://www.pobonline.com/Articles/Column/f785817cac0f6010VgnVCM100000f932a8c0____
"As an

[2016-03-20 12:48] PaulBouchier commented on #13
@ablakey can you please propose a parameter that would remap quality in the way you want. Also, if Novatel is using 9 for WAAS it seems we should add 9 as a supported quality and give it a parameterized default EPE, as I'm doing with the other quality values per issue 17. Do you agree?

Can you test any changes with a Novatel receiver?

[2016-03-20 15:12] ablakey commented on #14
Academically I do believe the current format is possibly misleading. However, after the discussion, I agree that there isn't a compelling practical reason to change it now.  +1 on closing.

[2016-03-20 15:25] ablakey commented on #13
I think the simplest implementation would be a map of arrays. Any fix enum in the map has their defaults overridden. It's one parameter and explicit, which is good. Nested collections is not the best but I see no other way around it.

For example, I might want to override two of them with a few more integers:
[code]

I don't know if we still have a WAAS enabled GNSS but I can certainly test the bu

[2016-03-20 15:45] PaulBouchier commented on #1
@mikepurvis can you please clarify your statement that you're getting vel from RMC and fix + covariance from GGA. The current code uses either/or depending on ~use_RMC, not both.

[2016-03-20 17:25] PaulBouchier commented on #1
Since it works well enough, and it's 2 years old so is apparently not critically broken, I suggest closing this issue. Someone can re-open or open a new issue if they really feel they want to implement the original proposal.

[2016-03-20 18:06] PaulBouchier commented on #14
One more thought, since we have the API review discussion link here:

One of the motivations for the nmea_navsat_driver seemed to be to eliminate the need for gpsd. Presumably gpsd, being an independent project, was considered an unnecessary/undesirable dependency. However, I came across this horror story http://esr.ibiblio.org/?p=801 by Eric Raymond, the author of gpsd. It explains the many layer

[2016-03-21 01:55] mikepurvis commented on #1
Sounds good.

[2016-03-21 01:55] #1 closed

[2016-03-21 05:15] PaulBouchier commented on #6
Please clarify my understanding of the fault description above. It sounds like it says GGA & RMC are used when computing the timestamp for the fix, but they aren't put in the NavSatFix message timestamp, they are emitted as TimeReference on the time_reference topic. Is that what's meant by the above, and the request is to use date from RMC in the time_reference?

TimeReference is incorrectly built

[2016-03-27 14:20] PaulBouchier commented on #14
I think Andrew or Eric have to close the issue - I can't. Can one of you guys please do so?

[2016-03-27 14:22] #14 closed

[2016-03-27 14:26] PaulBouchier commented on #13
Andrew - I'd appreciate you providing the modification to support remapping GPS quality values. You have an idea in mind that I don't quite get. It would be best to either fork my fork, which has support for GPS quality 9 and the new parameters that support correct EPE reporting, or wait until Eric has pulled my work into the top of tree. At a minimum, please review what I did so we don't stamp on

[2016-03-27 16:54] ablakey commented on #13
Hi Paul:

Good idea.  I'll likely approach this work one evening this week. It sounds like forking, or at least collaborating on your fork makes the most sense.

From a quick peek at your work, I'm thinking we might want to consider the value of @mikepurvis's suggestion of allowing a custom override of NMEA mappings (and epe quality?) rather than explicitly defining the mapping in the code. While

[2016-03-27 17:43] PaulBouchier commented on #13
Thanks for working on this.

Oops - I need to merge my changes into indigo, currently they're only on jade.

I thought the idea was to map one gps_quality to another, with the intent that the second would have an associated epe that would be published in covariance, and to do this remapping with parameters. Is that right?

I thought the use of this would be for some receiver that may emit gps_qual

[2016-03-28 03:21] PaulBouchier commented on #3
Diagnostics added in pull request #19 for Jade & #20 for Indigo

[2016-03-28 03:21] PaulBouchier commented on #17
Fixed in pull request #19 for jade & #20 for indigo

[2016-03-28 03:24] PaulBouchier commented on #13
Added support for gps_quality 9 in pull request #19 for jade & #20 for indigo

[2016-03-28 23:18] ablakey commented on #13
Yeah I think we're on the same page, just framing the problem from different perspectives.

The bottom line is that with the current proposed changes, if your quality is any value that is NOT:  1,2,4,5,9  then it sets:  `current_fix.status.status = NavSatStatus.STATUS_NO_FIX`   which is wrong.

I was thinking about a way to have default mappings for 1,2,4,5,9  but allow a user to provide params th

[2016-03-29 00:19] PaulBouchier commented on #13
OK now I think I get the idea better. Makes sense. FYI I submitted a pull request for the work I did to try & at least get it into the source repo to support the Skytraq RTK GPS receiver which they're announcing this week and stating ROS support.

[2016-04-05 04:05] ablakey commented on #13
@PaulBouchier I've got some time this week to approach this.  What do you think the best method is for moving forward? Should I fork your fork and raise a PR for you to fold into the existing PRs?  Or should I await your PRs to be merged first? They'll conflict considerably, so I suspect doing it in parallel is a bad idea.

[2016-04-06 03:34] PaulBouchier commented on #13
@mikepurvis @ericperko Can you guys please advise on the timeframe for merging pull requests 19 & 20. Do you have any concerns with it? Andrew needs to know what to base his further work on, and it should be made to properly support the new RTK GPS modules.

[2016-04-06 03:55] mikepurvis commented on #13
I've reviewed #19. Once we get that into a state we like, it should be cherry-picked back to Indigo (rather than merged).

@ablakey Suggest you work from Paul's branch with an expectation that you'll rebase your work to ros-drivers and merge there when complete.

[2016-06-29 23:23] valschmidt commented on #15
It is also not uncommon for GPS aided INSs to produce an IN prefix (e.g. $INGGA). So the expression could be modified to  '^\$[I|G][N|P].\[0-9A-Fa-f]{2}$' (untested).

[2016-07-07 09:45] asimay commented on #17
any update? merge or not?

[2016-07-14 14:00] johschmitz commented on #15
GP is for GPS only GN is for multi constelation GNSS systems (GPS,GLONASS,GALILEO)
See the NMEA specification.

Anybody has a regex which can also parse ublox binary messages?

[2016-07-23 13:56] kylerlaird opened #23 "documentation: missing example"
http://wiki.ros.org/nmea_navsat_driver

Sample Usage

To get up and running quickly, you can use the following command to start outputting your GPS data onto ROS topics. This assumes your GPS is outputting GGA NMEA sentences, is connected to /dev/ttyUSB0 and is communicating at 38400 baud.

[Example only shows for hydro and indigo.]

[2016-07-24 04:19] tonybaltovski commented on #23
Updated, thanks.

[2016-10-06 19:26] shoemakerlevy9 opened #24 "frame_id pre-appended by a forward slash"
I have been observing that the nmea_serial_driver node pre-appends a forwardslash onto whatever frame_id is specified, even the default of "gps" becomes "/gps". This causes errors in nodes that try to use this transform. I am specifically using robot_lacalization's gps_transform_node which cannot support frame_id's starting with a forwardslash.

Edit:

According to the[ tf2/Migration Wiki:
](http:

[2016-10-19 21:50] mr337 commented on #11
I know this has been open a while but any updates? I got a H321 coming in that provides heading and if not will attempt to open a PR going with the proposal of publishing a `/heading` topic.

[2016-10-27 22:15] mr337 commented on #11
https://github.com/ros-drivers/nmea_navsat_driver/pull/25, this uses the NMEA GPHDT and not the binary format, so should work with other receivers than the v301 and H321

[2016-12-08 02:24] mr337 opened #27 "Release for Kinetic"
Hi,

Just requesting if this can get built for kinetic.

Thanks!

[2016-12-14 21:04] mr337 commented on #27
@mikepurvis  ^, not for sure who else to ask.

[2016-12-15 01:39] mikepurvis commented on #27
https://github.com/ros/rosdistro/pull/13416

[2016-12-15 01:39] #27 closed

[2017-01-08 16:53] blmhemu commented on #15
Go to /opt/ros/indigo/lib/python2.7/dist-packages/libnmea_navsat_driver (may be different for yours just type 'locate parser.py' ) and replace the parser.py in that folder with the one present in this git "https://github.com/ros-drivers/nmea_navsat_driver/blob/jade-devel/src/libnmea_navsat_driver/parser.py").

[2017-01-09 15:55] jack-oquin commented on #15
Note that modifying files in the ``/opt/ros/...`` directory tree is only a temporary expedient. Future package updates can overwrite them.

[2017-02-06 15:56] valschmidt opened #29 "Altitude vs Ellipsoid Height"
It seems to me the nmea_navsat_driver incorrectly calculates makes a correction for the `altitude` portion of the NavSatFix message. Specifically, here's the code from "diver.py"

[code]

The NavSatFix message definition is the following:
[code]

The GGA sentence "ellipsoidal height" produces exactly that, height relative to the WGS 84 ellipsoid, positive up. The choice of "altitude" here to descr

[2017-02-06 22:19] jack-oquin commented on #29
I agree with your interpretation of the NavSatFix message.

[2017-02-23 15:49] sonyccd commented on #3
Is this still an open issue? I can't tell if it actually got solved ?

[2017-02-23 15:49] sonyccd commented on #17
@PaulBouchier is this till an open issue ?

[2017-02-23 15:50] sonyccd commented on #23
Is this open?

[2017-02-23 16:45] tonybaltovski commented on #23
The changes were applied.

[2017-02-27 03:11] PaulBouchier commented on #3
I think it's still an issue - diagnostics ought to be published, and @mikepurvis suggested I do it differently. It looks like I dropped the suggested changes from @mikepurvis and @ablakely. There's now a conflict. It's been so long, and the requested pulls 19 & 20 into indigo & jade are less interesting than kinetic and/or lunar. The diagnostics could go into the kinetic release, but I can no long

[2017-02-27 03:15] PaulBouchier commented on #17
I think it's still an issue - covariance is computed incorrectly, and @mikepurvis suggested I do it differently. It looks like I dropped the suggested changes. There's now a conflict. It's been so long, and the requested pulls 19 & 20 into indigo & jade are less interesting than kinetic and/or lunar. I rather think the covariance change ought to go into a new distro, like lunar, since it changes t

[2017-02-27 13:26] sonyccd commented on #17
I would do Kinetic since it is the long term support. Most people will be using Kinetic for several years.

[2017-02-28 03:07] PaulBouchier commented on #17
OK - thanks for the guidance. Please disregard pull requests 19 & 20, & I'll gen up a new one for Kinetic.

[2017-03-20 18:59] tilk commented on #17
@PaulBouchier Are you still working on this?

[2017-03-21 03:43] PaulBouchier commented on #17
not currently.

[2017-03-21 11:52] roccogalati opened #31 "frame_id include a "/" which cannot work in tf2"
Hello guys,

I'm having problems with the `nmea_navsat_driver` under Indigo since it publishes a frame_id as /gps which includes a backslash which is not allowed in `tf2` standard.
I tried to launch the driver with the " `_frame_id:=gps`" parameter but it still continues to add the backslash to the frame name.
Is it possible to change this, please? I cannot correctly run my ROS codes since I alway

[2017-03-21 11:54] roccogalati commented on #24
I'm having the same problem! I posted it as an issue, I hope to find a solution since I'm stuck with my research work!

[2017-03-23 17:34] jack-oquin commented on #31
That does look like a bug.

If you submit a pull request with a fix for it, you're likely to get it done sooner. (I am not the maintainer of this package.)

[2017-04-25 07:08] SupermanPrime01 opened #34 "Multiple GPS Support Question"
Hello,

I've been using this driver and it's pretty cool but I wanted to use 2 GPS units with this driver. The problem I have is when I run one driver, the other GPS driver turns off. Is there a way to have 2 GPS nodes and have them publish on their own separate topics? For example, nmea_node1 publishes to topic fix1 and nmea_node2 publishes to topic fix2. How would I go about in order to achieve

[2017-04-25 18:10] jack-oquin commented on #34
This is a basic ROS question, suitable for http://answers.ros.org. Please ask it there.

For a start, please look up the ROS methods for renaming nodes and remapping topic names. The basic tutorials are a good place to begin.

[2017-04-27 08:44] ghost opened #35 "tf has been "deprecated" in favor of tf2"
Since ROS Hydro, tf has been "deprecated" in favor of tf2.
http://wiki.ros.org/tf2/Migration

but nmea_navsat_driver use tf.

https://github.com/ros-drivers/nmea_navsat_driver/blob/jade-devel/src/libnmea_navsat_driver/driver.py

at line 177:

@staticmethod
    def get_frame_id():
        frame_id = rospy.get_param('~frame_id', 'gps')
        if frame_id[0] != "/":
            """Add the TF prefix"

[2017-04-27 14:00] jack-oquin commented on #35
Lots of packages still use ``tf``.

Specifically, what is not working for you here?

[2017-04-27 16:25] Pietro-Colombo commented on #35
i see other issues and other person have my same problem and they suggest this:
https://github.com/ros-drivers/nmea_navsat_driver/pull/33

Because in my case I want implement ekf-filter with **robot_localisation Package**
this package want frames without a slash.

http://answers.ros.org/question/259756/navsat_transform_node-tf-has-two-or-more-unconnected-trees/

[2017-04-27 20:30] griswaldbrooks commented on #35
I also had the same issue, because I was trying to use `robot_localization`

[2017-04-27 20:50] jack-oquin commented on #35
OK, I think several issues are being confused here.

1. Frame ID strings should no longer contain a leading '/'
2. The old ``tf`` interface is still supported
3. Some systems still need ``tf_prefix``, and no replacement is available

[2017-11-10 15:00] jongchul opened #37 "Dose it support raspignss nmea meassge?"
Hi.

  I've installed setup raspignss module that uses NV08C. (http://drfasching.com/products/discontinued/raspignss-cook/installation.html)

 Attached file is nmea message after sending 'nmeaparsing' command on the host. Can nmea_navsat_driver be used in raspignss module? [
![nmeaparse](https://user-images.githubusercontent.com/6112016/32664023-47b5fb2a-c673-11e7-9d14-02986242fc92.jpg)
](url)

[2017-12-10 17:14] blmhemu opened #39 "Frame id must start with "/"."
This is changed in the latest tf2 release. It gives warning when a slash is present.

[2017-12-15 16:20] evenator commented on #39
There was some discussion about this previously in #35, but it sounds like there's now a deprecation warning. I'm hesitant to change the behavior in existing releases for the reason that @jack-oquin stated in that discussion--I suspect some users are expecting the leading slash. I'd like to hear what others think about this. I think the best course of action is probably to make this change in luna

[2017-12-15 16:20] evenator commented on #39
See also #40

[2017-12-15 16:24] evenator commented on #31
This is a duplicate of #24

[2017-12-15 16:24] #31 closed

[2017-12-15 16:25] evenator commented on #35
Related: #24

[2017-12-15 16:25] evenator commented on #39
After looking through the issues and PRs here, I'm closing this as a duplicate of #24. Please continue all discussion there.

[2017-12-15 16:25] #39 closed

[2017-12-15 16:31] evenator commented on #11
Issue Summary:

- Some GNSS receivers output heading, but `sensor_msgs/NavSatFix` has no field for it.
- The fix proposed by @ericperko and @jack-oquin is to also publish a `geometry_msgs/QuaternionStamped` containing this heading (if available) with the same timestamp as the corresponding `sensor_msgs/NavSatFix` message.
- @mr337 has implemented this fix in PR #25, but it hasn't been merged yet.

[2018-01-24 20:45] taihup opened #41 "nmea_topic_driver is not publishing anything"
Hi!

I created a rosbag that contains NMEA messages ([nmea_msgs/Sentence](http://docs.ros.org/api/nmea_msgs/html/msg/Sentence.html)), and I would like to generate [sensor_msgs/NavSatFix](http://docs.ros.org/api/sensor_msgs/html/msg/NavSatFix.html) messages.

I am working on simulating time, so I run:

    rosparam set use_sim_time true

Then, I play the rosbag thats contains the NMEA messages

[2018-02-07 21:38] wawachen opened #42 "change the publishing rate"
Is there any possibility I can change the publishing rate of /fix?
I have noticed the frequency is approximately 1 HZ, how can I make it faster?

[2018-02-07 22:10] wawachen commented on #42
In nmea_serial_driver node, I add rospy.Rate(5)  BUT the frequency of the publishing topic /fix is always 1hz.I do not know how to change the rate.

[2018-02-17 16:38] evenator commented on #42
The problem is probably that your device is only outputting NMEA sentences at 1 Hz. Depending on the device, you may be able to change the rate. Consult the documentation from the manufacturer of your device.

[2018-02-17 16:38] #42 closed

[2018-02-17 16:39] evenator commented on #41
Can you share your bag so I can try to replicate the problem?

[2018-02-17 16:44] evenator commented on #37
If your device outputs the standard NMEA sentences [GPGGA](http://aprs.gids.nl/nmea/#gga) or [GPRMC](http://aprs.gids.nl/nmea/#rmc), you can use it with this driver.

[2018-02-17 16:44] #37 closed

[2018-02-17 17:44] taihup commented on #41
Thanks for the answer. The issue was solved when we removed the CR (Carriage Return) and the LF (Line Feed) control characters from the nmea sentences.

[2018-02-17 17:44] #41 closed

[2018-03-27 06:41] hoppss opened #43 "I meet a error : invalid checksum"
" Received a sentence with an invalid checksum"

I found from roswiki that someone also meet this error, but unsolved.

Does anyone know how to solve it ?
Thank you.

[2018-03-30 06:00] hoppss commented on #43
Thanks for a TsingHua university doctor , whos first name is GUANG.
This error is solved by redefine /opt/ros/indigo/lib/python2.7/dist.../libnmea_navstat_driver/parse.py
the function of "parse_nmea_sentence" 's regex part is fault.
"def parse_nmea_sentence(nmea_sentence):
    # ( original code --- is invalid )Check for a valid nmea sentence
    #if not re.match('^\$GP.*\*[0-9A-Fa-f]{2}$', nmea_se

[2018-03-31 01:03] evenator commented on #43
Can you post an example of a NMEA sentence that fails to parse with the previous parser but passes with the changes?

[2018-03-31 01:07] evenator opened #44 "Release for Melodic Morenia"

[2018-04-01 15:16] evenator commented on #44
Version 0.5 released for ROS M

[2018-04-01 15:16] #44 closed

[2018-04-15 09:32] dahlan77 opened #45 "Support for GPS ublox 7n"
with nmea navsat driver why when i launch,,,cannot show the latitude and longitude when i use ublox 7n for this package

what should i do to reedit this package so i can use this device correctly

[2018-04-15 22:27] evenator commented on #45
Unfortunately, I don't have a u-blox 7N to test with. Is your device configured to output NMEA sentences? If so, please capture a log of NMEA sentences, i.e. by using `cat` to pipe the serial port to a text file.

[2018-05-06 00:30] evenator commented on #45
It looks like the driver is only getting partial NMEA sentences for some reason. That appears to be the tail end of a sentence.

Can you please capture a log of the raw output from the serial port, i.e. by using `cat` to pipe the serial port to a text file? For example, if your device's serial port address was `/dev/ttyUSB0`, you would start the driver, then, in another terminal, run this command:

[2018-05-12 23:12] droter commented on #43
Here are some messages that fail to parse:

[WARN] [1526166711.226185]: Received a sentence with an invalid checksum. Sentence was: '\x00$GPGGA,231152.200,4045.8557269,N,08706.9263476,W,1,04,4.0,204.01,M,,M,,*66'
[WARN] [1526166711.337624]: Received a sentence with an invalid checksum. Sentence was: '\x00$GPGGA,231152.300,4045.8564851,N,08706.9271579,W,1,04,4.0,203.45,M,,M,,*6C'
[WARN] [1526166711

[2018-05-29 11:14] akashp1997 opened #47 "Clean termination of nodes"
I think that in both the Node scripts **nmea_serial_driver** and **nmea_serial_topic_driver**, there is a need for the catching of the exception caused when there is a serial error produced as there is a need to provide any errors caused to both the screen and the logging files of ROS.

[2018-06-14 07:40] Phadadev opened #48 "nmea_serial_driver ,no data when I run rostopic echo /fix"
I received these message after I run `rosrun nmea_navsat_driver nmea_serial_driver`

And then I don't find anything after I run `rostopic echo -c /fix`

[2018-06-28 15:16] diasdm opened #49 "Missing launch files"
Hello everyone,
Don't want to be picky but shouldn't this package have launch files?
I'm willing to submit a PR if you see fit.
Thank you.

[2018-07-16 02:21] andrestoga opened #50 "IOError: [Errno 110] Connection timed out"
Hi,

I'm getting the following issue while running the nmea_serial_driver on Kinetic:

[code]
but if I run on it on Indigo, it works. Does anybody know what is happening?

Best,

[2018-07-30 01:44] evenator commented on #50
Are you running it with the same hardware and operating system in both cases? Can you provide some more details, such as the output of `uname -a` on your machine?

[2018-08-02 15:38] shahvi opened #51 "Suggest handling exceptions when killing node"
Hi,
Currently when we kill the node, it throws the following exceptions / errors.  Suggest handling these so that the node closes gracefully.
[code]

[2018-08-10 13:03] samkys commented on #24
Any news/changes yet? What is the preferred method to fix this as I need this to work as well and just have been using a "dirty hack" by assuming the user inputs the frame_id they desire and thus comment out these sections of code inside  nmea_navsat_driver/src/libnmea_navsat_driver/driver.py :

[code]

[2018-08-11 15:42] evenator commented on #15
This appears to have been fixed in 904ea247aa0c5305facf71811defc846394b28d3

[2018-08-11 15:42] #15 closed

[2018-08-11 15:43] #23 closed

[2018-08-11 15:43] #34 closed

[2018-08-11 15:46] evenator commented on #35
I agree with @jack-oquin's assessment.

1. The leading slash issue will be fixed shortly by #33.
2. The old `tf` package still exists and is still supported. If someone wants to take on the task of "modernizing" this repo to use `tf2`, I would be happy to review that PR 🙂
3. The solution in #33 removes the requirement for a leading slash without removing the `tf_prefix` that some systems need.

[2018-08-11 15:46] #35 closed

[2018-08-11 15:50] evenator commented on #24
This will be fixed shortly by #33. See the comments on that PR for more details.

[2018-08-11 15:51] evenator commented on #48
It looks like you're running your GPS device in some kind of binary mode. This package only supports [NMEA string](http://www.gpsinformation.org/dale/nmea.htm) output.

[2018-08-11 15:51] #48 closed

[2018-08-11 15:53] evenator commented on #51
Hi @shahvi. Thanks for pointing this out. I don't have a lot of time to maintain this package, but I'd welcome a PR from anyone who has time to fix it.

[2018-08-11 15:55] evenator commented on #49
I think most users would need to write their own custom launch files to specify the various parameters, but I agree that example launch files would be helpful. If you have some you'd like to share, please do submit a PR!

[2018-08-11 15:56] evenator commented on #51
I just noticed that this was already reported in #47, so please continue discussion on that ticket.

[2018-08-11 15:56] #51 closed

[2018-08-11 15:57] evenator commented on #47
Hi @akashp1997. Thanks for pointing this out.

It looks like @shahvi reported this problem (or a similar one) in #51 as well. I don't have a lot of time to maintain this package, but I'd welcome a PR from anyone who has time to fix it.

[2018-08-14 15:41] evenator commented on #29
Fixed by #36

[2018-08-14 15:41] #29 closed

[2018-08-28 23:11] evenator commented on #17
Addressed by #46

[2018-08-28 23:11] #17 closed

[2018-09-01 05:09] #47 closed

[2018-09-10 21:50] zlacelle commented on #45
I might have the same issue, so here's some data:

`[WARN] [1536615680.992768]: Received a sentence with an invalid checksum. Sentence was: '\xb5b\x01\x064\x008\x0e\xce\t\x05\xe6\x01\x00\xe2\x07\x02\xdd\xf58\x8f\x06\x13z\x1e\xe3\xe4\xa2\xc1\x17\xb3\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x03\x00\x00\x001\x00\x00\x00<\x01\x02\x03n1\x02\x00\x89T\xb5b\x01\x04\x12\x008\x0e\xce\tK\x01<\x01c\x00d\x0

[2018-09-13 13:39] popenc opened #53 "Issue echoing or subscribing to /fix topic with Emlid Reach GPS"
I'm encountering an issue that I'm wondering if anyone else has noticed or could sanity check for me. It seems that I can't echo or subscribe to the /fix topic only when I upgrade my GPS's software. I've posted this to the GPS's forums but haven't heard anything.

**Setup:**

 - OS - Ubuntu 14.04
 - More OS info - Linux CPR-J100-0057 3.16.0-77-generic #99~14.04.1-Ubuntu SMP Tue Jun 28 19:17:10 UTC

[2018-09-13 18:49] gavanderhoorn commented on #53
Cross-post of [nmea_navsat_driver ROS package and Emlid Reach GPS units](https://answers.ros.org/question/303295) on ROS Answers.

[2018-09-13 19:06] popenc commented on #53
Sorry about that, I'll close it here.

[2018-09-13 19:06] #53 closed

[2018-09-14 15:00] TSRyan commented on #23
The "melodic" tab does not display the example command.

[2018-09-14 16:15] TSRyan commented on #48
I was/am dealing with a similar issue.  Originally, I was getting output like that above, so I tried looking at the output directly from the port (`cat /dev/ttyUSB0`), but the process returned immediately with no output.  Next, I tried `screen /dev/ttyUSB 57600` and received readable output:
[code]
After using the `screen` command, I am able to see the same output from `cat /dev/ttyUSB0`.  Clearly

[2018-09-29 18:57] evenator commented on #45
@zlacelle, looking at your captured data, I see a mixture of ASCII messages (GPVTG, GPGGA, GPGSA, GPGSV, GPGLL) and what appears to be a binary message. I'm not sure what the binary message, but I expect that's the source of the error messages. Is there a setting on your receiver to disable those messages?

[2018-10-14 15:54] evenator commented on #11
Closing this as fixed by #25.

[2018-10-14 15:54] #11 closed

[2018-10-14 15:55] evenator commented on #24
Closed as fixed by #33.

[2018-10-14 15:55] #24 closed

[2018-11-14 09:30] roehling opened #54 "Release with new version"
The current version, 0.5.0, is more than three years old. There has been a number of pull requests and bug fixes since then, so it would be nice to see those in the ROS distributions...

[2018-11-29 17:43] kmikaz51 commented on #45
Hi,

I am using this package on ROS Melodic with a ublox neo M8N and I got the same issue.
After checking the frames on the serial, I saw binary inside.

But I tried the version of the driver on the branch Jade-devel wich works and gives me a fix.

After looking at the code, I think the Issue comes from this line:
https://github.com/ros-drivers/nmea_navsat_driver/blob/a3a3d10f7573ced06b13e87906189

[2018-11-29 19:31] schadocalex commented on #45
I don't have a GPS with me to test but here's my notes:

@zlacelle I did try to put your files into the driver, with a code like:
[code]

and it does work. The last topic published is:

[code]

The warn about bad checksum is real but I think this is not _only_ binary content that provokes the error. In your file there are valid lines.

I don't see any difference in `jade-devel` that would help sol

[2018-12-05 07:13] mbudris opened #56 "transmit a command via the used serial"
The GPS devices I want to use needs some configuration commands before spitting NMEA. Is there a way to transmit a command to the serial port used for NMEA stream?

[2018-12-18 21:38] evenator commented on #56
This isn't currently a feature of the driver. I'd welcome a PR that implements it cleanly and generically (maybe a parameter containing an array of commands?). In the meantime, you'll have to start your device using some other program before connecting this driver to it.

[2018-12-18 21:42] evenator commented on #54
Sorry for the delayed response. I'll work on getting a release out soon (probably over the holidays).

[2018-12-29 21:40] evenator commented on #54
I've back-ported the following PRs to `kinetic-devel` and `melodic-devel`:

- #21
- #22
- #38
- #28
- #52
- #32
- #30/#58

I'll bloom these shortly as version 0.5.1 for kinetic and melodic. I do not plan to update indigo, which is still on 0.4.x.

I omitted the following PRs because of API/behavior changes that might break existing assumptions:

- #33/#57 (Includes a TF API change)
- #36 (Changes

[2018-12-30 18:14] evenator commented on #54
Version 0.5.1 bloomed for kinetic and melodic.

[2018-12-30 18:14] #54 closed

[2019-02-21 11:24] JaviBecerra opened #61 "Ros2 support"
Hi,
We have been using the driver with ros (1) and are planning to migrate to ros2 (crystal), but it seems that nmea_navsat_driver is not supported yet (or any other gps/nmea driver by the way...).
Are there any plans to migrate it to ros2?

Not sure of the effort required to make the migration; we might give it a try if you can provide some guidance as to where we should be starting/what needs to

[2019-02-24 00:36] evenator commented on #61
This driver is pretty much in maintenance mode, and I don't have any plans to port it to ROS 2.

I don't personally use ROS 2, so I don't know how difficult it would be to support both ROS 1 and 2 in the same package. If you or other users have a good solution to that, I'd be happy to merge it into the package.

[2019-02-28 23:23] evenator opened #62 "Fix missing runtime dependency"
When building the package and running the driver with minimal dependencies installed, the following Python error appears because the dependency on `tf` is not declared in `package.xml`:
[code]

[2019-03-05 08:06] klintan commented on #61
Hey,
I started the effort, in a branch on my fork here https://github.com/klintan/nmea_navsat_driver/tree/ros2 (some work remaining, but not too much). Perhaps @evenator if you could just create a ros2 branch in your repo I can do a PR, I think keeping it in a separate branch for the foreseeable future is a good idea. It seems that is also how other ros1/ros2 projects are doing it (image_pipeline,

[2019-03-05 09:49] JaviBecerra commented on #61
@klintan, we can check it out when you have a working version. We can also give you a hand if you hand us some info on the tasks that have to be done yet.
Thank you both @klintan and @evenator for your effort.

[2019-03-06 09:10] klintan commented on #61
@JaviBecerra ok so now at least the `nmea_serial_driver` is spitting out some nmea strings, and there are some topics if you run `ros2 topic list`.

However haven't tested the other nodes yet and still needs some more work (haven't gotten a GPS fix yet so the haven't been able to confirm the messages coming out. Also there are still some other bugs, so if you are in a hurry (or just curious) you c

[2019-03-06 11:56] evenator commented on #61
It looks like you've made some exciting progress! I'll add a `ros2` branch to hold this work soon. (I'm in the middle of moving, and my ROS PC is in a box right now.)

[2019-03-07 09:33] JaviBecerra commented on #61
Hi @klintan,
We have tried to get the ros2 node working but are facing a couple problems, probably due to our lack of experience installing ros2 packages...
First we get an error on launch/nmea_serial_driver_launch.py, we had to replace on line 36
```params="config.yaml")```
with
```params=["config.yaml"])```
or we get a TypeError.
Once that is solved, we get a message stating that the libexec dir

[2019-03-07 21:02] klintan commented on #61
Good catch! thanks for testing it out, I'll take a look at all these issues. I hit some issues when creating the custom message nmea_msg/Sentence which delayed stuff.

In the meantime it should be possible to start the serial node using `python3 nmea_navsat_driver/nodes/nmea_serial_driver.py` or similar.

@evenator no rush, focus on the moving :)

[2019-03-08 12:42] JaviBecerra commented on #61
Hi @klintan, we tried your latest changes using a serial GPS and everything is working fine.
Thanks!

[2019-03-10 02:00] orz-000 commented on #41
I have same problem. What are CR and LF?

[2019-03-11 12:03] taihup commented on #41
You have to delete them from the nmea sentences. These characters are invisible, so you have to remove them from the nmea sentences. They are located at the end of each nmea sentence.

[2019-03-15 00:51] #49 closed

[2019-03-15 07:35] mbudris opened #63 "Is NavSatFix message status.service populated correctly?"
Is NavSatFix message status.service populated correctly?

I always have service = 1 (uint16 SERVICE_GPS=1), although I have GPGSV, GLGSV, GBGSV NMEA sentences incoming.

Please clarify if the "service" field is implemented correctly.

[2019-03-15 11:41] evenator commented on #63
I did a little digging in the source code. At this time, the nmea_navsat_driver does not set the service by the type of sentence received from the receiver and always reports the service as SERVICE_GPS.

[2019-03-16 22:57] klintan commented on #61
@evenator hope your move went well, just a gentle nudge to see if you have time to create a ros2 branch so that I can create a PR for the ROS2 compatibility? :)

[2019-03-19 23:40] evenator commented on #61
I've created the `ros2` branch. Go ahead and open a PR for your changes.

[2019-03-20 07:39] klintan commented on #61
Thanks :) PR now here https://github.com/ros-drivers/nmea_navsat_driver/pull/64

[2019-03-23 14:15] evenator commented on #61
@klintan Thanks for helping out with this! I looked over your PR. I think if we can resolve some of the big questions about moving files around and minimizing divergence, we'll be able to merge it in.

[2019-03-30 01:09] oxoocoffee commented on #43
I noticed as well. Were you able to find out what the problem it. I quicly looked at your code and I do not see anything problematic at first. Open serial driver, dealline, and check checksum. Here are few lines from name serial driver log

`Received a sentence with an invalid checksum. Sentence was: '$GPGGA-34.5,M,4.3,0138*77'`
`Received a sentence with an invalid checksum. Sentence was: '$GPGGA,

[2019-04-16 17:05] oxoocoffee commented on #43
I have looked at this and try to understand it. After some testing and research here is what I was able to get.

Looks like it is consumer/producer problem with some units. Some vendors actually acknowledge this in their documentation. Here is one Hemisphere model A101 and A222 (User Guide Revision: A2 May 7, 2018) Page 39 section "Random binary data from A222" stats:

`• Verify the baud rate sett

[2019-05-08 00:08] #61 closed

[2019-05-08 00:18] evenator opened #65 "Fix Package Dependencies in ROS2"
When attempting to install dependencies from scratch in a clean `crystal-desktop` docker image, I run into some problems. To reproduce:

[code]

[2019-05-08 23:17] #65 closed

[2019-05-10 01:14] evenator opened #67 "Make All Python Code PEP8 Compliant; Add Gating CI Check"
Currently, the `master` branch has several PEP8 violations:

[code]

Fix these and add a CI check to prevent ill-formed code from being merged to `master` or `ros2` branches.

[2019-05-11 03:39] evenator opened #70 "ros2 launch Can't Find nmea_serial_driver_launch.py"
[code]

[2019-05-11 03:49] evenator opened #71 "In ROS2, nmea_topic_driver Fails to Subscribe"
[code]

[2019-05-11 03:52] evenator opened #72 "In ROS2, nmea_topic_serial_reader.py is misnamed nmea_topic_serial_driver"
This causes an error when trying to run the task:
[code]

[2019-05-12 13:00] evenator commented on #67
I've put up two PRs to address the exiting violations (#68 and #69). I haven't looked into CI solutions to prevent future regressions.

[2019-05-12 15:06] #67 closed

[2019-05-14 00:05] #72 closed

[2019-05-14 00:06] #70 closed

[2019-05-14 00:10] evenator commented on #13
I'm closing this issue as I believe it was mostly solved in PR #46. If there are specific issues that remain unaddressed, please file new issues.

[2019-05-14 00:10] #13 closed

[2019-05-19 23:49] evenator opened #75 "Refactor ROS 1 Node Scripts for Entry Points"
ROS 2 uses Python entry points for executables. In order to minimize the difference between ROS 1 and ROS 2 versions of this package, it would be good to move all of the existing nodes into functions in the Python package so that each of the executable scripts just calls a single function, like an entry point does.

[2019-06-02 18:49] #75 closed

[2019-08-14 21:57] anubhav1772 commented on #62
Try installing the module using` sudo apt-get install ros-<ros-distro>-tf-transformations`.

[2019-08-14 22:59] evenator commented on #62
That's a good workaround until we can fix the package dependencies so it's installed automatically.

[2019-08-23 03:37] NEUUGV opened #81 "ROS 2 Drivers for OXTS GPS/IMU products"
Hello ROS developers!
I would like make use of an OXTS GPS/IMU product (i.e., a RT2000 system component) under ROS 2 Dashing Diademata. Therefore, I wonder if there exist ROS 2 Dashing Diademata drivers for OXTS GPS/IMU products.

[2019-08-23 06:50] mbudris opened #82 "use only nmea string excluding irrelevant data"
This is my stream from GPS:
![image](https://user-images.githubusercontent.com/8166666/63572567-d53a3b00-c58b-11e9-853d-59de74256ac9.png)

It has more data than NMEA only (here additional UBX, RTCM streams also), and the driver seems to have trouble to do what it is good at. It does not catch NMEA sentences and there is no output in the /nmea_sentence topic.

[2019-08-23 11:22] #82 closed

[2019-08-23 12:23] evenator commented on #81
I'm not aware of any. If the device produces NMEA output, this driver should work for the that part, but this driver has no IMU support. The ROS 2 branch is experimental--check out the `ros_2` branch--and it isn't yet updated for Dashing (see #80)

[2019-08-23 12:23] #81 closed

[2019-08-30 05:11] mbudris opened #83 "heading axis orientation"
From what I understand nmea HDT sentences provide yaw angle in NED coordinate frame, and subsequently the driver follows to provide quaternions in the same notation.

What would be the best practice to transform to ENU to have correct input for robot_localization and similar?

[2019-09-09 19:32] BillThePlatypus opened #84 "What reference frame is used for the velocity?"
Velocity is reported through the linear field of a TwistStamped. What reference frame is this using? NED, ENU, ECEF? The documentation doesn't seem to indicate, and this is essential to use the data correctly.

[2019-09-09 23:24] evenator commented on #84
The velocity contains x and y components, which are calculated from the [NMEA RMC](https://www.gpsinformation.org/dale/nmea.htm#RMC) sentence's `speed` and `track angle` fields. The reference frame of the `track angle` is typically NED, but the driver takes it directly from the GPS receiver, so it depends what your receiver is publishing.

[2019-09-09 23:24] #84 closed

[2019-09-09 23:32] evenator commented on #83
The driver provides the yaw angle and velocity in the same frame provided by the receiver, which is typically NED. However, the driver avoids making this assumption and publishes the yaw and velocity _as received from the device_. The most common practice is to use an intermediate frame and transform coordinates with TF as described in [REP-103](https://www.ros.org/reps/rep-0103.html):

This is co

[2019-09-09 23:32] #83 closed

[2019-11-06 12:19] arianna003 opened #85 "Compatible device"
What are GPS sensor compatible?
There is a list?

[2019-11-15 00:19] evenator commented on #85
This driver is compatible with any GNSS device that outputs [NMEA data](https://www.gpsinformation.org/dale/nmea.htm) over a serial connection or a network socket. This includes many USB, RS-232, and ethernet GNSS devices on the market.

[2019-11-15 00:19] #85 closed

[2019-12-12 13:53] NearLinHere opened #86 "Can't parse alt_std_dev from GST correctly"
Hi all,
Thank you for making this great parse driver. The code is clean and works well.

Recently, I have been trying to retrieve the information in GST. I found that the value of alt_std_dev is always nan, and I added some log to figure out what happened.

Here is where I put the log in parse_nmea_sentence() in parser.py:

    if sentence_type == "RMC":
        parsed_sentence["utc_time"] = conve

[2019-12-16 01:46] evenator commented on #86
Thanks for pointing out this bug in the parser. I haven't tried to recreate the error yet, but I took a stab at fixing it. Can you try out the change in pull request #87?

[2019-12-18 15:36] NearLinHere commented on #86
Hi @evenator,
Thank you for fix this so quickly. However, I don't have time to test it recently.  :(

[2020-01-09 05:32] ajay1606 commented on #50
@evenator
AM also getting a similar error when I run the package. Could you please help me to fix this issue ?
[nmea_serial_driver_node-2] process has died [pid 16731, exit code 1, cmd /home/intern/nmea_ws/src/nmea_navsat_driver-master/scripts/nmea_serial_driver __name:=nmea_serial_driver_node __log:=/home/intern/.ros/log/10f3185e-329e-11ea-9ca4-e0d55eb869bd/nmea_serial_driver_node-2.log].
log fil

[2020-01-11 01:19] evenator commented on #50
Hi @ajay1606. Can you please post the log from when you encountered the error? If you haven't cleaned your ROS logs, it should still be at `/home/intern/.ros/log/10f3185e-329e-11ea-9ca4-e0d55eb869bd/nmea_serial_driver_node-2.log`. That should help diagnose the issue.

[2020-01-13 01:36] ajay1606 commented on #50
Hello @evenator, Thank you so much for your quick response.

- The launch file used to run the current nmea_serial_driver node
roslaunch nmea_navsat_driver nmea_serial_driver.launch

- The log from when you encountered the error.
[rospy.client][INFO] 2020-01-09 14:08:26,790: init_node, name[/nmea_serial_driver_node], pid[16731]
[xmlrpc][INFO] 2020-01-09 14:08:26,790: XML-RPC server binding to 127.

[2020-01-14 01:14] evenator commented on #50
@ajay1606 Before we start digging into the driver, can you verify that you can connect to the device using a terminal program such as `miniterm.py` and verify that the device port and baud rate in the launch file are correct?

[2020-01-16 02:06] rgov opened #89 "Nothing published to /fix"
I am ROS newbie trying to use the `nmea_socket_driver` to receive UDP packets containing NMEA sentences and re-publish parsed NavSatFix messages. I'm using Melodic.

I have the node running and talking to the master node. I augmented the script with print statements to show that it is receiving NMEA sentences.

[code]

However, if I use `rostopic echo /fix` I never see any messages dumped, which s

[2020-01-19 00:45] evenator commented on #89
Thanks for reporting this and making a pull request with the fix!

[2020-01-19 00:46] rgov commented on #89
I would recommend additional logging for this. I'm not sure why I wasn't seeing any warning. For instance, if the line is blank, then you will get an error about the checksum being invalid. Why wasn't it triggering the same way on a line ending with `\r`?

[2020-01-19 01:14] evenator commented on #89
Here's why the checksum passes:
[code]
For the first line in your example above:
[code]
On the other hand, the validation regex in the parser rejects a string that doesn't end with a hex number:
[code]
I think the parser should strip whitespace like `check_nmea_checksum`  does.

[2020-02-02 07:30] sdey76 opened #94 ""REceived a Sentence with Invalid Checksum sentence was : " ""
Hii
Am getting below error with NEO 6M GPS MODULE, using ROS kinetic
rosrun nmea_navsat_driver nmea_serial_driver _port:=/dev/ttyUSB0 _baud:=38400
KIndly help. Thanks a lot
![image](https://user-images.githubusercontent.com/51761358/73604758-cdaba300-45bb-11ea-95f8-0fc87f62e521.png)

[2020-02-02 16:50] evenator commented on #94
Your device appears to be sending sentences that contain no text. I suspect the baud rate of the driver does not match the baud rate of the device.

[2020-02-02 17:33] sdey76 commented on #94
Thanks, I have set different baudrates, 4800 to 115200 also changed the same in the nmea serial driver.py

[2020-02-03 17:09] sdey76 commented on #94
Hii
Can you suggest a gps module ( proven module here) that can interface with my ROS autonomous indoor lidar based robot , robot computer is a Jetson Nano, to do outdoor navigation . Help appreciated please. Thanks  a lot.

[2020-02-03 19:52] lillefyr commented on #94
I can not find an example in the doc of a correct call ( https://wiki.ros.org/nmea_navsat_driver ), however, are you sure the parameter is passed this way?

_port:=/dev/ttyUSB0     I think it should be   **-port=/dev/ttyUSB0**

and the same for same for baud!

You try to change the port and the baud, BUT, because your parameters are specified wrong, you always use port=/dev/ttyUSB0 and baud=4800 b

[2020-02-04 14:10] sdey76 commented on #94
Resolved

Rx Tx - Arduino UNO used and not TTL USB Convertor
, with rosserial arduino

![image](https://user-images.githubusercontent.com/51761358/73752040-38a8d580-4786-11ea-906b-5720f82a9ff3.png)

[2020-02-04 14:10] #94 closed

[2020-03-09 16:39] abdo-robotic opened #96 "ublox gps LEA-6T received a sentencce with an invalid checksum. sentence was"
hello, I am using a Ublox lea 6T GPS for robot navigation. to connect the GPS with raspberry pi I've used TTL USB. after nmea_navsat_driver package installation and running: rosrun nmea_navsat_driver nmea_serial_driver _port:=/dev/ttyUSB0 _baud:=9600 I got a warning msg: Received a sentence with an invalid checksum. The sentence was:'\x\xc\xefkl and when I run: rostopic list /fix /heading /rosout

[2020-03-10 01:08] evenator commented on #96
It looks like either your baud rate is wrong or your device is not configured to output NMEA sentences.

[2020-03-10 01:08] #96 closed

[2020-03-10 07:44] abdo-robotic commented on #96
excuse me I am not familiar with NMEA it's my first time with a similar device. can you please explain to me how I can configure my device to output NMEA sentences??

[2020-03-10 11:19] evenator commented on #96
Please direct questions like this to https://answers.ros.org/questions/. Thanks!

[2020-03-10 13:33] abdo-robotic commented on #96
thank you, for replying
I checked this link https://www.handheldgroup.com/knowledge-base/enable-or-disable-nmea-datasets-in-u-blox-gps-module/  to enable NMEA datasets by u-center unfortunately when I retry running  nmea_navsat_driver I got the same output, I think there is something missing I wish if there is someone can help

[2020-03-12 10:20] jimmywklee opened #97 ""Received a Sentence with Invalid Checksum sentence was : " ""
I have similar issue as per  "sdey76 opened this issue on Feb 2
 " https://github.com/ros-drivers/nmea_navsat_driver/issues/94#issue-558656238

I have a win7 notebook and running virtualbox/ubuntu 14.04, my GPS model : ublox NEO-6M-0-001 (USB version)

I verified by installing putty on both win7 and ubuntu, the putty on win7 can get GPS data but not  virtualbox/ubuntu 14.04,

I believe my problem

[2020-03-14 22:19] evenator commented on #97
It sounds to be like this is a problem with your operating system or virtual machine, not an issue with this software package.

[2020-03-14 22:19] #97 closed

[2020-03-24 15:06] droter commented on #43
Example of bad checksum with binary data before nmea message:

L����*$GNRMC,150541.20,A,4832.56003,N,11753.56027,W,0.058,,240320,,,F,V*07
$GNRMC,150541.20,A,4832.56003,N,11753.56027,W,0.058,,240320,,,F,V*07
$GNGGA,150541.20,4832.56003,N,11753.56027,W,5,12,0.58,525.0,M,-17.0,M,0.2,0000*53
$GNGGA,150541.20,4832.56003,N,11753.56027,W,5,12,0.58,525.0,M,-17.0,M,0.2,0000*53
L����*$GNRMC,150541.30,A,4832

[2020-04-16 19:14] mturktest123 opened #99 "documentation question / update needed"
On this page - https://wiki.ros.org/nmea_navsat_driver under this section  '2. Sample Usage
To get up and running quickly, you can use the following command to start outputting your GPS data onto ROS topics. This assumes your GPS is outputting GGA NMEA sentences, is connected to /dev/ttyUSB0 and is communicating at 38400 baud."

It mentions using the following command to get up and running quickly

[2020-04-20 13:22] FrostFyres opened #100 "Value Error and Invalid Checksum error nmea_serial"
Ubuntu 18.04
ros melodic
Garmin 18x
Serial -> usb connection

I'm trying to run
[code]
and the first error I get is:
[code]
The follow up and the rest of the errors publishing are:
[code]

[2020-04-20 13:30] FrostFyres commented on #100
I'd also like to add that using gtkterm with baud at 4800 and device set to /dev/ttyUSB0
[code]

[2020-04-20 15:08] FrostFyres commented on #100
After some investigation it looks like it's not parsing the utc-time values correctly?
[code]

[2020-04-20 15:25] FrostFyres commented on #100
Found work around for GPGGA by removing nanoseconds in parser.py and returning unix_secs only.

Also work around for GPRMC is commenting out the
if sentence type rmc change to utc_time.
Then setting in the parse map RMC -> ("utc_time", convert_time, 1),

[2020-04-20 15:25] #100 closed

[2020-04-25 00:19] klintan commented on #71
This could probably be closed, since the fix is already implemented :)

[2020-06-13 18:30] #86 closed

[2020-06-13 19:05] evenator commented on #99
Thanks for pointing this out. It turns out the command was in a block that was being shown based on which ROS version of the wiki page the user was viewing, and it was never updated beyond ROS Kinetic. The command hasn't changed since the original release of the package, so I removed the version logic from the wiki page, and the command is now displayed properly for new versions of ROS.

[2020-06-13 19:05] #99 closed

[2020-06-13 19:08] #62 closed

[2020-06-13 19:08] evenator commented on #89
Fixed by #98

[2020-06-13 19:08] #89 closed

[2020-06-13 19:13] evenator commented on #6
Fixed by #79

[2020-06-13 19:13] #6 closed

[2020-06-13 19:15] evenator commented on #50
I'm closing this out, as the original reporter has not verified that their device and serial connection are working properly.

[2020-06-13 19:15] #50 closed

[2020-06-13 19:17] evenator opened #103 "Release for ROS Noetic"
Test this package in ROS Noetic (notably, this requires Python3) and release a new version to ROS Noetic.

[2020-06-21 03:36] ybc82 opened #104 "Bug in parsing multiple types of messages"
My GPS was publishing GNGGA and GNHDT through UDP at 20 Hz. I was using nmea_socket_driver.py. All GNGGA messages were not successfully parsed because the original string was "$GNGGA ... \r\n", therefore ending with \r after stripping the '\n'. The GNHDT messages ended with \n only and were successfully parsed.

My quick fix was to further strip '\r' in the GNGGA message. I was not sure this is a

[2020-06-21 14:28] evenator commented on #104
Hi, can you answer a few questions about your setup for me?

- What version of ROS are you using?
- Did you install this package with apt or download the source code with git, or install it some other way?
- What is the output of `rosversion nmea_navsat_driver`?

[2020-06-22 04:18] ybc82 commented on #104
I just realized that this bug has been fixed recently... Thank you for your reply though!

1. I'm using ROS Kinetic;
2. I downloaded the source code. But wait! I haven't updated the code your code in the past two weeks because I was using my fork. It was fixed in #98.
3. 0.5.0

[2020-06-25 01:49] philsuematsu opened #105 "Error in parsing 6-digit UTC time"
When the received NMEA sentence (from a Garmin 18x GPS unit) is:

`$GPGGA,004646,3350.7509,N,11818.7148,W,1,06,1.3,52.6,M,-35.2,M,,*49`

the six-digit UTC time field value, 004646, is not parsed correctly by parser.py:

`131: nanosecs  =  int(nmea_utc[7:]) *  pow(10, 9  -  len(nmea_utc[7:]))`

and produces the error message:

`[WARN] [1593042694.453486]: Value error, likely due to missing fields i

[2020-06-25 06:44] ggaessler commented on #105
The driver assumes that the GGA-format is `HHMMSS.SS`, which holds for nearly all receivers. However it seems like this is not the case for all Garmin receivers.

A fix would be changing

`nanosecs = int(nmea_utc[7:]) * pow(10, 9 - len(nmea_utc[7:]))`

into

[code]

[2020-06-28 20:26] #104 closed

[2020-06-28 20:54] evenator commented on #105
Hi @philsuematsu, can you please test the branch I just added in PR #106 and confirm that it fixes your problem?

[2020-07-06 01:45] OsamuSekino opened #107 "Problems with RTK outputting as FIX even in Float"
Whether RTK is FIX or Float, it will be output as STATUS_GBAS_FIX.
It is not possible to tell if it is FIX or Float.

[https://github.com/ros-drivers/nmea_navsat_driver/blob/master/src/libnmea_navsat_driver/driver.py#L140](https://github.com/ros-drivers/nmea_navsat_driver/blob/master/src/libnmea_navsat_driver/driver.py#L140)

Shouldn't you actually define a STATUS_NO_FIX on this line?
It would be

[2020-07-06 09:49] ggaessler commented on #107
The issue here is that the `nmea_navsat_driver` wants to be lightweight and thus not define any own messages. Therefore it uses the default ROS `NavSatStatus` message, which doesn't know about any specific RTK states:
http://docs.ros.org/melodic/api/sensor_msgs/html/msg/NavSatStatus.html
The currently used `STATUS_GBAS_FIX` is the "best" available class there, fits as "ground-based augmentation" t

[2020-07-07 22:50] evenator commented on #107
I am inclined to agree with @ggaessler's analysis. `STATUS_NO_FIX` would indicate that there is no position solution at all, which certainly isn't true in this case. Similarly, it's correct to say that in the RTK Float status, there is "ground-based augmentation," which makes `STATUS_GBAS_FIX` correct.

This driver is rather limited, and if you're using an RTK system, you probably would benefit fr

[2020-07-07 23:05] #107 closed

[2020-07-14 12:56] osholsonel20 opened #108 "Incorrect Longitude output"
When trying to run the nmea_navsat_driver the output of longitude is not correct.

![image](https://user-images.githubusercontent.com/46691182/87428047-5edd6780-c5a7-11ea-93b7-52332b0b151b.png)
![image](https://user-images.githubusercontent.com/46691182/87428062-66047580-c5a7-11ea-9b44-fad3cb8236a1.png)

Adding an example sentence around the area:
$GPGGA,202656.032,4400.625198,N,8832.555418,W,1,10

[2020-07-14 13:23] osholsonel20 commented on #108
Fixed by setting line 60: in parser.py.

return safe_float(field[0:2]) + safe_float(field[2:]) / 60.0

instead of

return safe_float(field[0:3]) + safe_float(field[3:]) / 60.0

[2020-07-14 13:23] #108 closed

[2020-07-18 12:33] evenator commented on #108
I've checked several online references for the longitude field of the GGA sentence, and it appears that the NMEA standard expects that the format for longitude be _3 digits_ for degrees longitude followed by the digits for decimal minutes. It looks like your receiver is outputting an incorrect sentence, because it should have a leading zero. `8832.555418` should be `08832.555418`.

I'm glad you fo

[2020-07-20 12:37] osholsonel20 commented on #108
It was in LGSVL's message output of gps. It was missing a leading zero, and honestly I'd rather put a leading zero in the output vs. messing with the input! Was a good temporary fix, then I realized the message being received was formatted wrong

[2020-09-08 21:32] Tobias-Fischer opened #111 "Python error: TypeError: '>' not supported between instances of 'list' and 'int'"
Hiya,

I am getting this error since moving to Noetic:

[code]

Any idea why this would be?

[2020-09-08 21:35] Tobias-Fischer commented on #111
Actually, I think it's a Python2 vs Python3 thing:
On Python2, one can compare a list to an int (whatever that means), whereas on Python3 it fails with above TypeError. I am not sure what this comparison should check though, happy to provide a PR with a fix if someone tells me.

[2020-09-13 00:48] evenator commented on #111
Can you test out PR #112?

[2020-09-14 07:42] Tobias-Fischer commented on #111
Looks good. Haven't tried with to get a fix outdoors yet, but at least it doesn't throw an error anymore.

[2020-09-22 03:57] donkikos commented on #103
Hey @evenator any updates on this?

[2020-09-22 09:51] evenator commented on #103
The package was released in Noetic, but there's a known issue with Python 3 (see #111, and potential fix in #112).

[2020-09-22 18:36] donkikos commented on #103
Thanks for quick response. I was able to clone, compile and run nmea_navsat_driver with 3 changes in different files. I also got stuck for some time on the issue you mentioned and was not able to figure out what that check meant. Thanks for the links, at least it clears out what the if is meant to check.

So is the package in the ubuntu repos? I was not able to install it with apt. It does not sho

[2020-09-26 14:45] evenator commented on #103
Looks like you're right. I could have sworn I released it for noetic. I'll test it today and bloom a release.

[2020-09-26 17:36] evenator commented on #111
Fixed by #112

[2020-09-26 17:36] #111 closed

[2020-09-26 17:36] evenator commented on #103
Release is pending ros/rosdistro#26721

[2020-09-26 17:36] #103 closed

[2020-09-26 19:31] donkikos commented on #103
Great, thank you @evenator !

[2020-10-09 23:36] donkikos opened #115 "nmea_serial_driver terminates due to unhandled UnicodeDecodeError upon receiving a corrupted sentence"
The new release for noetic gives error. Trying to use with [GlobalSat BU-353-S4](https://smile.amazon.com/gp/product/B008200LHW/).

[code]

[code]

[2020-10-10 01:17] evenator commented on #115
Thanks for reporting this. I think I know what's happening here. NMEA strings should be ASCII-encoded, but the first sentence from the serial device often contains some garbage data, which is very likely to include bytes outside of the ASCII table (and in this case outside of the utf-8 table even). I'll put up a fix shortly that discards such data so that the node doesn't crash in this case.

[2020-10-10 18:02] evenator commented on #115
@donkikos Would you mind reviewing PR #116?

[2020-10-10 20:41] donkikos commented on #115
@evenator will test with the receiver I got.

I was patching by changing the `decode('utf-8')` with `decode(encoding='utf-8', errors='ignore')` and seems it was working.

[2020-10-11 15:15] #71 closed

[2020-10-11 15:17] evenator commented on #115
I considered `errors='ignore'` as a solution as well. I decided that it would be better to catch the error and print a warning, because otherwise the driver might silently discard all data (like if the baud rate was set incorrectly).

[2020-10-11 15:18] evenator commented on #56
I'm going to close this now, as it's been nearly two years with no activity.

[2020-10-11 15:18] #56 closed

[2020-10-11 15:21] evenator commented on #3
I'm closing this as it's been over 3 years with no activity.

[2020-10-11 15:21] #3 closed

[2020-10-11 15:27] evenator commented on #43
This would probably be fixed by #55, but I think the author of that PR has abandoned it.

[2020-10-12 22:11] donkikos commented on #115
I agree.

I tested the `nmea_serial_driver node`. No crashes as of now.

[2020-10-12 23:03] #115 closed

[2020-10-23 01:04] shac12 opened #118 "Feature Request: Writing RTCM to GPS modules"
Hi,

Are there any plans to add functionality that will send RTCM correction data to a supporting GPS module ? There are many publicly available NTRIP servers that could provide this correction info. There is also a library that publishes this to a topic

https://github.com/tilk/ntrip_ros

Cheers,
Sharif

[2020-10-31 16:04] evenator commented on #118
Hi Sharif,

This sounds like it could be a good new feature, and I would be happy to review a pull request from the community, but there are no plans to implement it right now.

Cheers,
Ed

[2020-10-31 16:05] evenator commented on #105
I'm going to close this as fixed.

[2020-10-31 16:05] #105 closed

[2021-01-07 15:00] adamkrawczyk opened #120 "Error msg parse and checksum"
Hi, I run into a problem with nmea_socket_driver  with the remote device sending data over UDP.

ROS Noetic
Ubuntu 20.04

First:

[code]

Second:

[code]

I made a solution but not sure whether it's appropriate and work with any case could you check this?

Best,
Adam

[2021-01-07 15:02] adamkrawczyk commented on #120
PR made at https://github.com/ros-drivers/nmea_navsat_driver/issues/120#issue-781376279

[2021-01-09 04:11] evenator commented on #120
Thanks for pointing this out. When I migrated to Python 3 for ROS noetic, I added bytes->str decoding in all the node types but this one. The driver still expects its input to be a `str`, not `bytes`, so your change in #121 fixes the UDP node, but would break the other nodes. Can you try out #122?

[2021-01-12 10:30] adamkrawczyk commented on #120
I have tried but I got strange error named :

[code]

Not sure why this error occurs.

[2021-01-12 10:55] adamkrawczyk commented on #120
This solves the issues. Thank you :1st_place_medal:

[2021-01-12 10:55] #120 closed

[2021-04-18 12:42] evenator opened #123 "Clarify License"
- Add BSD 3-clause as LICENSE.txt (and install it with the package, per the terms of the license).
- Update the package.xml to refer to the license as "BSD-3-Clause"

[2021-04-19 09:43] cjcjcj7777 opened #124 "nmea_socket_driver not publishing /fix data"
Hi,
I am trying to setup Trimble BX992 using nmea_navsat_driver. I am using nmea_socket_driver to read the gps data but the data is not published on rostopic

[2021-04-19 10:46] evenator commented on #124
Without more information, I can't tell if this is a problem with the driver. Please post:
The version of ROS you're using
Your operating system version
How you installed nmea_navsat_driver (source checkout, apt, something different)
The commands and/or launch files you're using to run the driver
Any error messages from the driver

[2021-05-02 20:37] skysingh opened #126 "cannot get this to work"
I install using git clone in jetson nano. into catkin_ws/src folder. The ran catkin_make. Seemed to build file.

But when I run the sample line:

$ rosrun nmea_navsat_driver nmea_serial_driver _port:=/dev/ttyUSB0 _baud:=115200

I get:

Illegal instruction (core dumped)
What have I done wrong? Thanks.

[2021-05-03 00:42] evenator commented on #126
This appears to be a problem specific to the Python installation on your Jetson Nano. See the discussion here https://stackoverflow.com/questions/65631801/illegal-instructioncore-dumped-error-on-jetson-nano

[2021-05-03 00:42] #126 closed

[2021-05-08 12:07] #123 closed

[2021-05-24 14:05] elgarbe opened #128 "how to remove leading / from frame_id"
I'm using robot localization package and it doesn't like the "/" on the frame id. I've read some stuff on the closed issues, but I'm not sure how to correct this. I've installed from binaries on kinetic and it uses the "/"
Do I need to install from source? which branch is used for kinetic and have this issue solved?

Thank

[2021-05-24 16:50] evenator commented on #128
There is no way to configure the driver to not use the leading `/` prefix. If you wish to install from source, ROS kinetic uses the `kinet-devel` branch, and you can edit the static method `get_frame_id()` to remove the prefix https://github.com/ros-drivers/nmea_navsat_driver/blob/42310d4b3894a45af0efd921582791ab8a17d53f/src/libnmea_navsat_driver/driver.py#L199-L211

[2021-05-24 16:51] #128 closed

[2021-06-08 04:03] A1exLe9end opened #129 "Better to remind the users who still use the ROS indigo. Using the same version of system python to setup and run the driver."
Better to remind the users who still use the ROS indigo.
The Python version of the system is confused, which leads to the lack of the module to be used.  The python file in the "../nmea_navsat_driver folder/scripts" starts with #! /usr/bin/python3.  but system is using python2.7 for setup. It may pop-up an error "No module named "_tf2"" in ROS indigo.
If we setup the driver in ROS indigo better ch

[2021-07-30 20:27] mr337 opened #131 "ROS2 Foxy Status?"
We are making the transition from ROS1 to ROS2. It looks like there was some work getting this package compatible with ROS2. https://github.com/ros-drivers/nmea_navsat_driver/issues/61

Checking [ROS packages](https://index.ros.org/p/nmea_navsat_driver/github-ros-drivers-nmea_navsat_driver/#noetic) and apt not seeing a Foxy version. :(

Does anyone know the blocker to updating this to support Foxy

[2021-08-15 17:12] halqupati commented on #43
how you are connect your GPS with laptop?
This error means your devices are not in same band rate.

And the best solution is to use Arduino with GPS sensor.

[2021-08-24 13:35] jediofgever opened #133 "Possible bug in HDT heading to Quat Conversions"
Hi,
I think there is a bug the way the driver converts heading to quats.
My GPS provides $GPHDT so the driver publishes a topic ` /heading `
I tracked down an error in my system and realized that the `x` component coming from `/heading` is non-zero, where as `x` and `y` should report zeros.

The issue is, lack of attention given to return format of [quaternion_from_euler](https://github.com/ros-dr

[2021-08-27 11:21] ctampier opened #135 "ValueError for NMEA sentences without nanoseconds in timestamp"
Hello!

I'm using ROS Melodic and got this error when working with the nmea_topic_driver node.
`Value error, likely due to missing fields in the NMEA message. Error was: invalid literal for int() with base 10: ''`

I tracked the error to the parser.py script. Specifically on line 128:
`nanosecs = int(nmea_utc[7:]) * pow(10, 9 - len(nmea_utc[7:]))`

My GPS reports NMEA strings in the RMC format, th

[2021-09-29 12:52] SivertHavso opened #137 "Under approximation of the altitude covariance"
Currently the altitude covariance is approximated by using the Horizontal Dilution of Precision (HDOP) times two instead of the Vertical Dilution of Precision (VDOP):

https://github.com/ros-drivers/nmea_navsat_driver/blob/f60d849b5648561dc6a4e5112d3e793dace66cf4/src/libnmea_navsat_driver/driver.py#L242-L243

While from my very anecdotal experience this is a decent approximation, at times the VDOP

[2021-10-15 11:32] #133 closed

[2021-11-03 11:34] maxpolzin commented on #131
What needs to be done to officially release the driver fro ROS2? I am happy to put some effort into this.

[2022-01-21 09:08] fengyikawhi opened #140 "I want to install from source,when I run catkin_make,this occured "Could not find the required component 'catkin_virtualenv'.", how can I solve this problem ?"

[2022-01-21 11:36] evenator commented on #140
Can you provide some more info, such as your ROS version, OS version, and the full process you've attempted to follow to install from source?

[2022-01-21 12:00] Sylvania2 opened #141 "ROS2 FOXY nmea_socket_driver timed out."
I am unable to connect to rtkrcv output with nmea_socket_driver.. what am i missing?
I edited ip and port in nmea_socket_driver.py!

when i run: ros2 run nmea_navsat_driver nmea_socket_driver
i get:
[nmea_navsat_driver]:  Using parameters ip 192.168.1.147 port 12346 buffer_size 4096 timeout_sec 2
Caught exception socket.error during recvfrom: timed out
Caught exception socket.error during recvfrom

[2022-01-21 12:03] fengyikawhi commented on #140
Thanks for your apply, Ubuntu20.04, ROS noetic,
process:
 mkdir -p ~/catkin_ws/src
cd ~/catkin_ws/src
git clone https://github.com/ros-drivers/nmea_navsat_driver.git
cd ~/catkin_ws
catkin_make

[2022-01-22 04:57] evenator commented on #140
Ensure you have installed and initialized [rosdep](http://wiki.ros.org/rosdep), then use it to install the dependencies:
[code]

[2022-01-24 01:27] fengyikawhi commented on #140
Excellent! I solved the problem, thanks a lot!

[2022-01-24 09:49] Sylvania2 commented on #141
Found a solution:

in nmea_socket_driver.py:

            # Create a socket
            socket_ = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)

            # Bind the socket to the port
            socket_.bind((local_ip, local_port))

change to:

            # Create a socket
            socket_ = socket.socket()

            # Bind the socket to the port
            socket_.connect((local_ip

[2022-01-24 11:53] evenator commented on #141
Your device is using TCP. This driver currently only supports UDP. I would be happy to consider a pull request to enable support for both protocols.

[2022-01-25 03:03] fengyikawhi opened #142 "I want to modify part of the code to decode my own devices, which version of python should I use? 2.7 or 3.x?"

[2022-01-25 08:55] Sylvania2 commented on #141
@evenator  Correct, RTKLIB's rtkrcv output is a TCP server.. request: protocol setting in config.file ?

[2022-01-30 18:30] #141 closed

[2022-02-04 22:26] mr337 commented on #142
It depends on the target ROS distro you are using. Pre Noetic, python2.7, Noetic or newer 3.X.

[2022-02-06 00:58] evenator commented on #142
@mr337 is correct. See [REP 3](https://www.ros.org/reps/rep-0003.html) for ROS 1 platform info and [REP 2000](https://www.ros.org/reps/rep-2000.html) for ROS 2 platform info.

[2022-02-06 00:58] #142 closed

[2022-02-06 00:59] #140 closed

[2022-02-06 01:02] evenator commented on #131
I don't know how well the ROS 2 branch works (or doesn't work) in Foxy. The first step would be for someone to install the package from source in foxy and see what needs to be updated or fixed.

[2022-02-06 01:02] #129 closed

[2022-02-06 01:03] #43 closed

[2022-02-06 01:04] evenator commented on #45
Closing this due to lack of activity.

[2022-02-06 01:04] #45 closed

[2022-02-16 14:59] MGforest opened #143 "Problems connecting nmea_topic_driver or nmea_serial_driver with Velodyne GPS"
## Intro
Hi,
I am using the ROS nmea_navsat_driver in combination with the Velodyne gps_imu_driver. The latter is still in development on their github page (https://github.com/ros-drivers/velodyne/tree/gps_imu). I tried connecting directly via nmea_serial_driver and also with nmea_topic_driver. Each approach returns different problems.

I am using Ubuntu 20.04 with ROS noetic and Velodyne VLP16 Pu

[2022-02-17 16:01] MGforest commented on #143
Hi,
thank you for your response.

I don't think the problem is with the device connected, because the ROS Velodyne topics work fine.

I figured, that I should rather use nmea_socket_driver when the connection is via ethernat and not USB, which is not in the ros.org documentation.

The log I get is the following now:

[code]

The launch file:

[code]

[2022-04-12 09:47] iripatx opened #146 "[Errno 111] Connection refused on docker container"
Hi, I am trying to test this node on a docker container based on `ros:noetic-perception` with GPSD installed and working.

I have a GPS receiver that publishes info on serial port `/dev/ttyACM0`. However, when I try to run the node using:

`rosrun nmea_navsat_driver nmea_serial_driver _port:=/dev/ttyACM0 _baud:=4800`

I get the following output:

  File "/opt/ros/noetic/lib/nmea_navsat_driver/nmea

[2022-04-16 01:09] evenator commented on #146
Only one process can connect to a serial port at a time, and you're attempting to connect to your GPS device with both this driver and gpsd. If you're using gpsd, you probably should look at the [gpsd_client](http://wiki.ros.org/gpsd_client) to connect your GPS to ROS.

[2022-04-16 01:09] #146 closed

[2022-06-16 00:44] victorll998 opened #150 "Invalid checksum error when parsing GPRMC and GPGSV sentence"
Hi,

I am getting errors below when I use nmea_navsat_driver to communicate with Ublox F9P. It seems RMC sentences are skipped because of invalid checksum errors.

I found a similar post in ROS answer (https://answers.ros.org/question/192525/problem-with-nmea_serial_driver/). I think it is relevant to the issue I am encountering but there is no answer to it

Thanks in advance

[code]

[2022-06-19 18:31] evenator commented on #150
Your device appears to be outputting invalid NMEA sentences. There are two different problems here:

Most of the rejected sentences have incorrect checksums. The purpose of the checksum is the detect message corruption. The checksum is the last field of the sentence (after the `*` character), and it should equal the value of XORing every character in the sentence between the `$` and `*` characters

[2022-06-19 18:31] #150 closed

[2022-06-25 13:09] #143 closed

[2022-07-02 14:31] YXGuan opened #151 "New to GPS"
Hi there,

A newbie to GPS here, I have a few questions:

1. What GPS modules (compatible with nmea_navsat_driver) would you recommend?
2. How would the GPS package interact with move_base_goal and other navigation packages?

I appreciate anything (tutorials/vidoes/links) you could share : )

[2022-09-08 01:52] Liu2022 opened #153 "connect refused"
Hello, everyone.

When I try to use nmea_navsat_driver to convert my GPS data into /nmea_msgs/Sentence, it does not work well.

My command is rosrun nmea_navsat_driver nmea_topic_serial_reader _port:=/dev/ttyUSB0 _baud:=115200. And it turns out Connection refused. Details are shown before.

 File "/opt/ros/noetic/lib/nmea_navsat_driver/nmea_topic_serial_reader", line 38, in <module>
    libnmea_na

[2022-10-07 04:00] zhangjinwei786 commented on #153
Did you run roscore beforehead?

[2022-10-16 02:33] evenator commented on #153
As @zhangjinwei786 points out, this error message indicates that the node can't connect to a ROS core. You either need to run `roscore` or launch the node with a launch file and `roslaunch`, which will automatically start a ROS core if one isn't running.

[2022-10-16 02:33] #153 closed

[2022-10-16 02:35] evenator commented on #151
Hi @YXGuan. Please only use the issue tracker to report bugs and feature requests with this package. For general questions, please use answers.ros.org.

[2022-10-16 02:35] #151 closed

[2022-11-03 03:37] robograffitti commented on #41
I encountered the same problem and resolved with the same way.

However, I'm wondering why nmea_navsat_driver does not accept a sentence with CR and LF.

The format guidline let us put them in the end:
https://en.wikipedia.org/wiki/NMEA_0183

[2022-11-03 12:46] aristow1 opened #155 "ModuleNotFoundError: No module named 'serial'"
Hi im using Ubuntu 18.04 and ros melodic. I tried launching the "roslaunch nmea_navsat_driver nmea_serial_driver.launch" file and i get this error : ModuleNotFoundError: No module named 'serial'.
i tried installing serial with : sudo apt-get install python-serial and with pip install serial and i have everything installed : Reading package lists... Done
Building dependency tree
Reading state infor

[2022-11-03 18:30] joeldushouyu opened #156 "Remove 'UserWarning' when building the package"
Hello,
Currently, I am on Ros2 Humble.
My version of the pip is 58.2.0,

![image](https://user-images.githubusercontent.com/65317431/199804667-0e14b02d-6f8e-45f6-8256-ae0c2d55549b.png)

However, when building the package, I received the following warning

[code]

I realized that those warnings could be get rid of if I modify the 'setup.cfg' file, change

[code]

This, I am proposing to make those

[2022-11-05 13:16] Joy-Zhang-0303 commented on #155
Hello, I'm also using this package. Everything is also. My Python is 2.7 . Could you show the Python installed path ?

[2022-11-08 09:14] aristow1 commented on #155
HI my python installation path is /usr/bin/python. im also using python 2.7. i also use melodic-devel

[2022-11-08 10:29] aristow1 commented on #155
how do i check the name of the serial port the gps is connected to. im using a COM port ?

[2022-11-10 15:18] evenator commented on #156
I would welcome a pull request to fix this.

[2022-11-14 11:19] aristow1 commented on #155
i will try this tomorrow and let you know if it works. thank you :)

[2022-11-15 19:13] #156 closed

[2022-11-16 12:34] aristow1 commented on #155
i was using python 3 to build the package and that was the Problem. after using python2.7 to build + the solution of @evenator the Problem was solved. Thanks !

[2022-11-16 12:34] #155 closed